.board {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    column-gap: 0px;
    row-gap: 0px;

    width: 50vw;
    height: 65vh;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32.5vh 0 0 -25vw;
}

.board>input:focus {
    outline: none;
    caret-color: transparent;
}